.rectangle {
  width: 100%;
  height: 10px;
  justify-content: flex-end;
}

.grammar-info-pane {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.token-info {
  margin-bottom: 32px;
  width: 75%;
  text-align: center;
  justify-items: center;
  background-color: lightyellow;
  border: 1px solid black;
  border-radius: 4px;
}

ul.token-ul {
  margin-top: 24px;
  width: 100%;
  list-style: none;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}

.token-name {
  font-style: italic;
}

.customize-theme-submenu {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.popver {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.cover {
  position: fixed;
  top: "0px";
  right: "0px";
  bottom: "0px";
  left: "0px";
}

.token-li {
  cursor: pointer;
}

.customize-theme-pane {
  height: 100%;
  width: 100%;
  display: flex;
}
