.menuright {
  padding-right: 5%;
  float: right;
  display: flex;
}

.divider {
  width: 15px;
  height: auto;
  display: inline-block;
}

.menuleft {
  padding-left: 5%;
  float: left;
  display: flex;
}

.invisible-input {
  display: none;
}
