.menuright {
  padding-right: 10%;
  float: right;
}

.divider {
  width: 3px;
  height: auto;
  display: inline-block;
}

.menuleft {
  padding-left: 10%;
  float: left;
}

li {
  margin: 15px;
}

ul {
  list-style-type: none;
  margin: auto;
}
