* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.split-screen {
  display: flex;
  align-items: stretch;
}

.left-pane {
  width: 50%;
  height: 100vh;
}

.right-pane {
  width: 50%;
}
