* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.split-screen {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.left-pane {
  width: 50%;
}

.right-pane {
  width: 50%;
}

.editor {
  border-style: ridge;
}

.grammar-menu {
  height: 10vh;
}

.user-defined-language-menu {
  height: 10vh;
  text-align: center;
}
